<div class="form-row">
     <div class="col-sm-8 my-1">
         <td class="text-right">
             <a class="btn btn-success btn-block" href="/export_playlist/{{ label }}" role="button">
             Add playlist to Spotify!
             </a>
         </td>
     </div>
     <div class="col-sm-4 my-1">
         <td class="text-right">
             <a class="btn btn-danger btn-block" href="/remove_all/{{ label }}" role="button">
                Delete all
             </a>
         </td>
     </div>
</div>